@import url('reset.css');

$main-color:#383838;
$hover-color:skyblue;
$line-color:#dfdfdf;
$line: 1px solid $line-color;

@mixin flex($justify, $alignItem){
  display: flex;
  justify-content: $justify;
  align-items: $alignItem;
}
@mixin hover{
  color:$hover-color;
  transition: all .3s;
}
@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
main{
  .remove-item{
    text-align: right;
    margin-bottom: 20px;
    .btn-white{margin-left: 15px; padding:7px 10px;}
  }

  .cart{
    width: 100%; margin-bottom: 50px;
    td{border-bottom:$line; vertical-align: middle;}

    colgroup{
      col:nth-child(1){width:50px;}
      col:nth-child(2){width: 200px;}
      // col:nth-child(3){}
      col:nth-child(4){width: 150px;}
    }
    tr:first-child td{border-top:$line}
    tr td:first-child, tr td:last-child{text-align: center;}
    tr td:nth-child(2){
      img{width: 100%; max-width: 100%;}
    }
    tr td:nth-child(3){
      padding:20px;
      .item-name{
        font-size: 1.3rem; margin-bottom: 10px;
        font-weight: bold;
        a:hover{text-decoration: underline;}
      }
    }
    tr td:nth-child(4){
      button{
        margin: 10px; font-size: 1rem;
        width: 30px; height: 30px;
      }
    }
  }
  
  .cart-btns{
    text-align: center;
    .btn{
      padding:20px; width: 200px; font-size: 1rem;
      margin-right: 10px; &:last-child{margin-right: 0;}
    }
  }
}