@import url('reset.css');

@font-face {
  font-family: 'BagelFatOne-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
  font-family: 'Nanum Gothic', sans-serif;
}

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$main-color:#383838;
$hover-color:skyblue;
$line-color:#dfdfdf;
$line: 1px solid $line-color;

@mixin flex($justify, $alignItem){
  display: flex;
  justify-content: $justify;
  align-items: $alignItem;
}
@mixin hover{
  color:$hover-color;
  transition: all .3s;
}

.btn{
  border:none;
}
.btn-black{
  background-color: $main-color;
  color:#fff;
  &:hover{
    transition: .5s;
    background-color: #757575;
  }
}
.btn-white{
  background-color: #fff;
  color:$main-color;
  border:1px solid $line-color;
  &:hover{
    @include hover;
    border-color:$hover-color;
  }
}
.btn-grey{
  background-color: $line-color;
  color:#fff;
  &:hover{
    background-color: $main-color;
    transition: .5s;
  }
}

// WRAPPER

// CONTAINER
.container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  
  font-family: 'Nanum Gothic', sans-serif;
  color: $main-color;
  a{color: $main-color;}
}

footer{
  margin-top: 150px;
  padding-top: 30px;
  background-color: #eeeeee8e;
  font-size: .85rem;
  line-height: 1.3rem;
  .container{
    padding:20px 0;
    @include flex(space-between, flex-start);

    .left-item{
      .menu1{
        ul{
          @include flex(flex-start, center);
          margin-bottom: 20px;
          li{margin-right: 30px;}
          p{line-height: 2rem;}
        }
      }
    }

    .right-item{
      @include flex(flex-start, flex-start);
      .menu{
        margin-right: 30px; 
        &:last-child{margin-right: 0;}

        .menu-title{font-weight: bold; margin-bottom: 5px;}
        .tel{
          font-family: 'JalnanGothic';
          font-size: 1.5rem;
          margin: 10px 0;
        }
      }
      .menu3{
        .change{margin-top: 20px;}
      }
      .menu4{
        li{
          font-size: 1.3rem;
          background-color: #fff;
          border-radius: 50%;
          padding:10px;
          margin-bottom: 10px;
          &:last-child{margin-bottom: 0;}
          &:hover{@include hover}
        }
      }
    }
  }
  .copyright{
    text-align: center; padding-bottom: 20px;
    color: #a7a7a7;
  }
}