@import url('reset.css');

$main-color:#383838;
$hover-color:skyblue;
$line-color:#dfdfdf;
$line: 1px solid $line-color;

@mixin flex($justify, $alignItem){
  display: flex;
  justify-content: $justify;
  align-items: $alignItem;
}
@mixin hover{
  color:$hover-color;
  transition: all .3s;
}

main{
  table{
    width: 100%;
    border-top:2px solid $main-color;
    margin-bottom: 50px; &:last-child{margin-bottom: 0;}

    th, td{
      padding:15px 20px; text-align: left;
      border-bottom:$line;
    }
    th{border-right:1px solid $line-color;}
    th.essential::after{
      content: ' *';
      color:rgb(245, 117, 75);
      font-weight: bold;
    }
    td{
      input,select{
        border:$line;
        padding:10px;
        
        &:focus{outline: 2px solid $hover-color; border-radius: 3px;}
      }
      span{font-size: .8rem; margin-left: 10px;}
      select{
        background-image: url('../images/down-btn.jpg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-x: right;
        background-position-y: center;

        appearance: none;
        padding-right: 30px;
      }
      .input-tel{ width: 100px;}
      .input-email{width: 300px;}
    }
    .terms{
      width: 100%;
      height: 150px;
      border:$line;
      margin:10px 0;
    }
    .terms-title{font-weight: bold; font-size: .85rem;}
    .terms-yes{font-size: .8rem;}
  }
  .join-btns{
    text-align: center;
    .btn{
      width:200px; padding:20px 0;
      font-size: 1rem;
      margin-right: 10px;
      &:last-child{margin-right: 0;}
    }
  }
}

// .select-box{
//   position: relative;
//   width: 150px; height: 35px; border-radius: 5px;
//   border:$line;

//   select{
//     width: inherit; height: inherit;
//     background-color: transparent;
//     border:0 none; outline: 0 none;
//     padding:0 5px;
//     position: relative;
//     z-index: 3;
//     appearance: none;

//     option{
//       padding:30px 0;
//     }
//   }
//   .icon-arrow{
//     position: absolute; top: 0; right: 0;
//     z-index: 1;
//     width: 35px; height: inherit;
//     border-left: $line;
//     display: flex; justify-content: center; align-items: center;
//     img{width: 80%; transition: .5s;}
//   }
//   select:focus + .icon-arrow img {
//     transform: rotate(180deg);
//   }
// }